{% set model = dbt_model('bri_book_authors') %}

cubes:
  - {{ model.as_cube() }}
    dimensions:
      {{ model.as_dimensions() }}
      - name: book_author_key
        sql: "{CUBE}.book_author_key"
        type: string
        primary_key: true
        public: true
      - name: rating_average
        sql: "{dim_books.rating_average}"
        type: number
      - name: page_count
        sql: "{dim_books.page_count}"
        type: number
