{% set model = dbt_model('dim_categories') %}

cubes:
  - {{ model.as_cube() }}
    dimensions:
      {{ model.as_dimensions() }}
      - name: category_key
        sql: "{CUBE}.category_key"
        type: string
        primary_key: true
        public: true
