ENV=production

# Postgres Configurations
DB_HOST=postgres
DB_USER=root
DB_PASSWORD=root
DB_PORT=5432
DB_SSL_MODE=disable


DAGSTER_DB_USER=dagster
DAGSTER_DB_PASSWORD=Dagster2024!Data
DAGSTER_DB_NAME=dagster

CDC_DB_USER=cdc
CDC_DB_PASSWORD=Cdc2024!Data

METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=Metabase2024!Data
METABASE_DB_NAME=metabase

EL_DB_USER=el
EL_DB_PASSWORD=El2024!Data

# Minio Configurations
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=Minio2024!Data
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ENDPOINT=http://${MINIO_HOST}:${MINIO_PORT}

# Dagster Configurations
DAGSTER_COMPUTE_LOGS_BUCKET=dagster-compute-logs
DAGSTER_COMPUTE_LOGS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
DAGSTER_COMPUTE_LOGS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
DAGSTER_COMPUTE_LOGS_ENDPOINT_URL=${MINIO_ENDPOINT}

# API Configurations
API_HOST=api
API_DB_USER=rainbow
API_DB_PASSWORD=R&inb0w2024!Data
API_DB_NAME=rainbow

SERVER_PORT=5000
JWT_SECRET=""

# Database Migrations (used in development)
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=localhost user=${API_DB_USER} password=${API_DB_PASSWORD} dbname=${API_DB_NAME} sslmode=disable"
GOOSE_MIGRATION_DIR=./migrations

# Clickhouse Configurations
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_ROOT_PASSWORD=root
CLICKHOUSE_HTTP_PORT=8123

CLICKHOUSE_DBT_USER=dbt
CLICKHOUSE_DBT_PASSWORD=Rainb0w2024!DataDBT

CLICKHOUSE_CDC_USER=cdc
CLICKHOUSE_CDC_PASSWORD=Cdc2024!Data

CLICKHOUSE_CUBEJS_USER=cubejs
CLICKHOUSE_CUBEJS_PASSWORD=Cubejs2024!Data
CLICKHOUSE_CUBEJS_DB_NAME=analytics

CLICKHOUSE_EL_USER=el
CLICKHOUSE_EL_PASSWORD=El2024!Data

# Metabase Configurations
METABASE_PORT=3000
METABASE_HOST=metabase

# Cube.js Configurations
CUBE_API_SECRET=
CUBE_API_PORT=4000
CUBE_SQL_API_PORT=15432
CUBEJS_DEV_MODE=false

CUBEJS_SQL_USER=cubejs
CUBEJS_SQL_PASSWORD=Cubejs2024!Data
