# Postgres Database
DB_HOST=postgres
DB_USER=rainbow
DB_PASSWORD=R&inb0w2024!Data
DB_NAME=rainbow
DB_PORT=5432

# Airflow Configurations
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_PROJ_DIR=../../src/airflow
AIRFLOW_UID=50000
