# Postgres Database
DB_HOST=postgres
DB_USER=root
DB_PASSWORD=root
DB_PORT=5432

# Airflow Configurations
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_PROJ_DIR=../../src/airflow
AIRFLOW_UID=50000

# API Configurations
API_DB_USER=rainbow
API_DB_PASSWORD=R&inb0w2024!Data
API_DB_NAME=rainbow

SERVER_PORT=5000
MAX_IDLE_CONNS=10
MAX_OPEN_CONNS=20
CONN_MAX_LIFETIME=1h
